{% extends "base.html" %}
{% block content %}



{% if request.user.is_authenticated %}
  
{% for message in messages %}
  <div>
    <span class="color-gray">[{{ message.created_at }}]</span><b>{{ message.author }}:</b> <i>{{ message.text }}</i>
  </div>
{% endfor %}

<!-- Textfield with Floating Label -->

<form action="/chat/" method="post">
  {% csrf_token %}
  <div style="margin-top: 16px;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="textmessage" type="text" id="sample3" />
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>

  <div>
    <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Send</button>
  </div>
</form>
{% else %}
  <h1>Nicht eigeloggt</h1>
  <p>Du bist aktuell nicht eingelogt, <br>
  bitte <a href="/login/">hier</a> einlogen.</p>

{% endif %}



{% endblock %}

{% comment %} <h1>Chatroom {{ username }}</h1> {% endcomment %}
{% comment %} <h1>Herzlich willkommen {{ request.user }}!</h1> {% endcomment %}
