{% extends "base.html" %}
{% block content %}


{% if request.user.is_authenticated %}

<div class="message-container" id="messageContainer">
{% for message in messages %}
          {% if message.author == request.user %}
          <div class="wrapper-maim-user">
            <div class="main-user">
                <span> <b class="color-red">{{ message.author }}:</b><i class="text-main">{{ message.text }}</i></span>
                <span class="main-user-time">{{ message.created_at }}</span>
            </div>
          </div>       
{% else %}
          <div class="wrapper-other-user">
             <div class="other-user c-gray">
               <span> <b>{{ message.author }}:</b><i>{{ message.text }}</i></span>
               <span class="other-user-time">{{ message.created_at }}</span>
             </div>  
         </div> 
{% endif %}
  {% endfor %}
</div>

<script>

  function scrollToBottomInput() {
  main.scrollTop = main.scrollHeight;
} 


function scrollToBottom() {
  var main = document.getElementById('main');
  if (main) {
      main.scrollTop = main.scrollHeight;
  }
}

document.addEventListener("DOMContentLoaded", function() {
  setTimeout(function() {
  scrollToBottom();
}, 1000);

   
  });
  

  function breakText() {
    let messageField = document.getElementById('messageField');
    let inputValue = messageField.value;

    let words = inputValue.split(' ');

    for (let i = 0; i < words.length; i++) {
      if (words[i].length > 25) {
        let chunkSize = 25;
        let word = words[i];
        let brokenWord = '';

        for (let j = 0; j < word.length; j += chunkSize) {
          brokenWord += word.substring(j, j + chunkSize) + '-';
        }

        brokenWord = brokenWord.slice(0, -1);

        words[i] = brokenWord;
      }
    }

    let newValue = words.join(' ');
    messageField.value = newValue;
  }
  
  


  async function sendMessage() {
      scrollToBottomInput();
      breakText();
      let fd = new FormData();
      let token = '{{ csrf_token }}';
      const currentDate = new Date();
      const formatOption = { month: 'short', day: 'numeric', year: 'numeric' };
      const timeFormatOptions = { hour: 'numeric', minute: 'numeric' };
      const formattedTime = currentDate.toLocaleTimeString('en-US', timeFormatOptions);
      const formattedDate = currentDate.toLocaleDateString('en-US', formatOption);
      const fullFormattedDateTime = `${formattedDate} ${formattedTime}`;
      fd.append('textmessage', messageField.value);
      fd.append('csrfmiddlewaretoken', token);
      try {
          messageContainer.innerHTML += `
          <div class="wrapper-maim-user" id="deleteMessage">
              <div  class="main-user">
                <span><b class="color-red"> {{ request.user }}:</b> <i class="c-white" >${messageField.value} </i></span>
                <span class="main-user-time">${formattedDate}</span>
              </div>
          </div>`;
        
          let response = await fetch('/chat/', {
              method: 'POST',
              body: fd
          });
          let json = await response.json();
         // let json = JSON.parse(jsonObj);
         // console.log('JSON FORMAT: ',json);
         // console.log('text: ',json.fields['text']);
         // console.log('created_at: ',json.fields['created_at']);
          let copyTextMessage =  messageField.value;
          messageField.value = '';
            document.getElementById('deleteMessage').remove();
            messageContainer.innerHTML += `
            <div class="wrapper-maim-user">
            <div  class="main-user" >
              <span><b class="color-red"> {{ request.user }}:</b> <i class="c-white">${copyTextMessage} </i></span>
              <span class="main-user-time " >${formattedDate}</span>
            </div>
            </div>`;  
      } catch (e) {
          console.error('An error occured', e);
      }
  }

</script>


<div class="form-container">
     <form onsubmit="sendMessage() ; return false;"   method="post"> 


         <div class="form-content" >

       {% csrf_token %}
       <div class="mdl-textfield mdl-textfield-width mdl-js-textfield mdl-textfield--floating-label mdl-bg">
          <input class="mdl-textfield__input mdl-textfield__input-style" name="textmessage" type="text" id="messageField" />
          <label class="mdl-textfield__label" for="messageField">Text...</label>
       </div>
  
       <div class="send-btn">
         <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Send</button>
       </div>

          </div>
     </form>
</div>

{% else %} 

  <h1>Nicht eigeloggt</h1>
  <p>Du bist aktuell nicht eingelogt, <br>
  bitte <a href="/login/">hier</a> einlogen.</p>

{% endif %}



{% endblock %}

