html {
  scroll-behavior: smooth;
}

i {
  margin-top: 21px;
}

.color-black {
  color: black;
  margin-right: 8px;
}

.color-red {
  color: rgb(255, 64, 129);
  margin-right: 8px;
}

.bg-other-user {
  background-color: rgb(144, 171, 251) !important;
}

.color-green {
  color: green;
  margin-right: 8px;
}

.color-gray {
  color: rgba(0, 0, 0, 0.4);
}


.color-d-gray {
  color: #1a1e44;
}

.color-blue {
  color: rgb(112, 132, 244);
}

a {
  text-decoration: none;
  color: rgb(63, 81, 181);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

a:hover {
  color: rgb(255, 64, 129);
}

h1 {
  color: rgb(63, 81, 181);
}

.d-none {
  display: none;
}

.button-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mt-8 {
  margin-top: 8px;
}

.warning-message {
  color: #d50000;
  font-weight: 600;
  font-size: 20px;
}

.info-message {
  color: rgb(63, 81, 181);
  font-weight: 600;
  font-size: 20px;
}

.ml-100 {
  margin-left: 100px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.op-5 {
  opacity: 0.5;
}

.fw-900 {
  font-weight: 900;
}


.message-container {

  max-width: 100%;
  display: flex;
  flex-direction: column;


}

.wrapper-maim-user {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 70px;
}

.wrapper-other-user {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 70px;
}

.main-user, .other-user {
  width: fit-content;
  max-width: 55%;
  position: relative;
  background-color: rgb(63, 81, 181);
  padding: 20px 25px;
  border-radius: 12px;
  font-size: 20px;
  display: flex;
  /* white-space: pre-line; */
  overflow-wrap: break-word;

}

.break-long-words {
  white-space: pre-line;
  overflow-wrap: break-word;

}

.text-main {
  color: white;
}

.c-gray {
  background-color: rgb(238, 236, 236);
}

.c-white {
  color: white;
}

.main-user-time,
.other-user-time {
  position: absolute;
  min-width: 135px;
  bottom: -25px;
  right: 0;
  padding: 0px 4px;
  background-color: white;
  border-radius: 8px;
  font-size: 11px;
}


.other-user-time {
  left: 0 !important;
  right: unset !important;
}


.form-container {
  width: 100%;
  background-color: rgb(63, 81, 181);
  padding: 10px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

}

.form-content {
  display: flex;
  align-items: center;
  justify-content: center;

}

.mdl-textfield__input-style {
  font-size: 18px;
  border-bottom: none;
  padding-left: 16px;
}



.mdl-textfield-width {
  width: 380px;
  padding-right: 28px;
}

.send-btn {
  margin-left: 16px;
}


::-webkit-scrollbar {
  display: none;
}


.mdl-layout__header-row {
  height: 80px;
  font-size: 23px;
}


.mdl-layout__content {

  background-image: url('/static/img/alu.jpg');
  padding: 80px;
  padding-bottom: 250PX;
}




#xml {
  margin-top: 16px;
}


.mdl-bg {
  border-radius: 5px;
  background-color: white;
}

.date-border {
  border: 1px solid rgb(77, 96, 201);
}


@media screen and (max-width:1050px) {

  i {
    margin-top: 23px;
  }

}


@media screen and (max-width:1000px) {

  .mdl-layout__content {
    padding: 25px;
    padding-bottom: 200PX;
  }

 
}

@media screen and (max-width:600px) {
  .mdl-textfield-width {
    width: 250px;
    padding-right: 28px;
  }

  .p-0 {
    padding: 0;
  }

  .mdl-textfield__input-style {
    font-size: 12px;
  }

  .main-user, .other-user {
    font-size: 15px;
    padding: 16px;
  }

 
}