.page-content {
  padding: 100px 100px;
  font-size: 18px;
}

i {
  margin-top: 10px;
}

.color-black {
  color: black;
  margin-right: 8px;
}

.color-red {
  color: rgb(255, 64, 129);
  margin-right: 8px;
}

.color-gray {
  color: rgba(0, 0, 0, 0.4);
}

.color-blue {
  color: rgb(63, 81, 181);
  margin-right: 8px;
}

a {
  text-decoration: none;
  color: rgb(63, 81, 181);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

a:hover {
  color: rgb(255, 64, 129);
}

h1 {
  color: rgb(63, 81, 181);
}

.d-none {
  display: none;
}

.button-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mt-8 {
  margin-top: 8px;
}

.warning-message {
  color: red;
  font-weight: 600;
  font-size: 20px;
}

.info-message {
  color: rgb(63, 81, 181);
  font-weight: 600;
  font-size: 20px;
}

.ml-100 {
  margin-left: 100px;
}

.mb-8 {
  margin-bottom: 8px;
}

.op-5 {
  opacity: 0.5;
}

.other-user {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}