{% extends 'base.html' %}
{% block content %}
  <h1>Login</h1>

  {% if wrongPassword %}
    <p>Benutzername oder Passwort ist falsch</p>
  {% endif %}

  <div>
    <form method="POST" action="/login/">
      {% csrf_token %}

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <div>
        <input type="hidden" name="redirect" value="{{ redirect }}" />
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="username" type="text" id="sample3" />
        <label class="mdl-textfield__label" for="sample3">Username...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="password" type="text" id="sample33" />
        <label class="mdl-textfield__label" for="sample33">Password...</label>
      </div>

      <!-- Accent-colored raised button with ripple -->
      <div style="margin-top: 36px;">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
      </div>
    </form>
  </div>
  <!-- Multiline Tooltip -->
  <div id="xml" class="icon material-icons">
    <a href="/register/">add</a>
  </div>
  <div style="font-size: 16px; background-color:rgb(63,81,181)" class="mdl-tooltip" for="xml">
    If you're new User, <br/><br/>
    click here to register
  </div>
{% endblock %}


