{% extends 'base.html' %}
{% block content %}
  <h1>Register</h1>

  {% if wrong_form  %}
    <p>Es ist ein Fehler aufgetreten. Bitte überprüfen Sie Ihre Eingaben.</p>
  {% endif %}


  <script>
    function register() {
       document.getElementById('loadingWrapperRegister').style="display:flex";
    }
 </script>

  <form method="POST" onsubmit="register()">
    {% csrf_token %}

    <div class="input-container" style="display: flex; flex-direction: column;">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input required class="mdl-textfield__input" name="username" type="text" id="sample3" />
        <label class="mdl-textfield__label" for="sample3">Username...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input required class="mdl-textfield__input" name="email" type="email" id="sample34" autocomplete="off" />
        <label class="mdl-textfield__label" for="sample34">Email...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input required class="mdl-textfield__input" name="password" type="password" id="sample33" autocomplete="off" />
        <label class="mdl-textfield__label" for="sample33">Password...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input required class="mdl-textfield__input" name="confirmPassword" type="password" id="sample333" autocomplete="new-password" />
        <label class="mdl-textfield__label" for="sample333">Confirm password...</label>
      </div>


      <div style="width: 150px;" class="button-container" >
        <div>
           <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Sign up</button>
        </div>
        <div class="d-none mt-8" id="loadingWrapperRegister">
          <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
    </div>

  </form>

{% endblock %}
